header, footer, section, aside, nav, article { display: block; }

body {
  background: #fff;
}

.container {
  width: 800px;
}

header {
  padding-top: 20px;
}


section {
  font-size: 120%;
  background: #fff;
}

/* Links */

a {
  color: #FFFF66;
  text-decoration: none;
}

a:hover {
  color: #ff8200;
  text-decoration: underline;
}

a:visited {
  color: #FFFF66;
}

/* Header */
header {
  margin-top: 10px;
  height: 80px;
}

/* Logo */
header a#logo {
  float: left;
  text-align: center;

  width: 400px;
  font-weight: bold;
  font-size: 45px;
}

header a#logo:hover {
  text-decoration: none;
}

header a#logo span#logo_part_1 {
  color: #0A0AB9;
}
header a#logo span#logo_part_2 {
  color: #1D8CC3;
}

/* Header Navigation */

header nav#nav_signin {
  float: right;
  width: 400px;
  text-align: center;
}

header nav#nav_signin a#signin {
  color: #1D8CC3;
  font-weight: bold;
  font-size: 20px;
}

header nav#nav_signin ul {
  white-space: nowrap;
}

header nav#nav_signin ul li {
  list-style-type: none;
  display: inline-block;
}

/* Description */

section.description {
  padding: 20px;
}

section.description span {
  color: #7F7F7F;
  font-size: 14px;
}

/* Round corners */

/*.round {*/
/*  -moz-border-radius:    10px;*/
/*  -webkit-border-radius: 10px;*/
/*  border-radius:         10px;*/
/*}*/

/* Footer */

footer {
  text-align: center;
  margin-top: 20px;
/*  width: 450px;*/
/*  margin-left: 0.5em;*/
/*  margin-right: auto;*/
}

footer nav {
  float: none;
}


/* Context */

/* Div null */
div.null {
  margin: 0;
  padding: 0;
  height: 15px;
  background: #1D8CC3;
}

section.round {
  background: #244763;
}

/* Home */
section.round div.context {
  padding: 0 20px 0 20px;
}

section.round div.context h2 {
  color: #fff;
  font-weight: bold;
  font-size: 27px;
}

section.round form div.context label {
  float: left;
  width: 80px;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
}

section.round form div.context label#url {
  line-height: 32px;
}

section.round form div.context label#disable {
  color: #999999;
}

section.round form div.context input {
  margin: 0 0 12px 0;
  padding: 1px 8px 1px 8px;
  vertical-align: middle;
  height: 22px;
  width: 500px;
}

section.round form div.context input.url {
  height: 30px;
  font-size: 22px;
  -moz-border-radius:    8px;
  -webkit-border-radius: 8px;
  border-radius:         8px;
}

section.round form div.context input.round {
  -moz-border-radius:    6px;
  -webkit-border-radius: 6px;
  border-radius:         6px;
}

section.round form div.context textarea {
  margin: 0 0 12px 0;
  padding: 1px 8px 1px 8px;
  vertical-align: middle;
  width: 500px;
  height: 42px;
  font-size: 16px;
}

section.round form div.context span#generator {
  margin: 0 0 12px 80px;
  color: #fff;
}

