header, footer, section, aside, nav, article { display: block; }

body {
  background: #fff;
}

.container {
  width: 800px;
}

header {
  padding-top: 20px;
}


section {
  font-size: 120%;
  background: #fff;
}

/* Links */

a {
  color: #FFFF66;
  text-decoration: none;
}

a:hover {
  color: #ff8200;
  text-decoration: underline;
}

a:visited {
  color: #FFFF66;
}

/* Errors */
label.error {
  float: left;
  background: none repeat scroll 0% 0% #900000;
  padding: 4px;
  margin-bottom: 5px;
  text-align: center;
  width: 750px;
  display:none;
}

/* Header */
header {
  margin-top: 10px;
  height: 80px;
}

/* Logo */
header a#logo {
  float: left;
  text-align: center;

  width: 400px;
  font-weight: bold;
  font-size: 45px;
}

header a#logo:hover {
  text-decoration: none;
}

header a#logo span#logo_part_1 {
  color: #0A0AB9;
}
header a#logo span#logo_part_2 {
  color: #1D8CC3;
}

/* Header Navigation */

header nav#nav_signin {
  float: right;
  width: 400px;
  text-align: center;
}

header nav#nav_signin a#signin {
  color: #1D8CC3;
  font-weight: bold;
  font-size: 20px;
}

header nav#nav_signin ul {
  white-space: nowrap;
}

header nav#nav_signin ul li {
  list-style-type: none;
  display: inline-block;
}

/* Description */

section.description {
  padding: 20px;
}

section.description span {
  color: #7F7F7F;
  font-size: 14px;
}

/* Round corners */

/*.round {*/
/*  -moz-border-radius:    10px;*/
/*  -webkit-border-radius: 10px;*/
/*  border-radius:         10px;*/
/*}*/

/* Footer */

footer {
  text-align: center;
  margin-top: 20px;
/*  width: 450px;*/
/*  margin-left: 0.5em;*/
/*  margin-right: auto;*/
}

footer nav {
  float: none;
}


/* Context */

/* Div null */
/*div.null {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  height: 12px;*/
/*  background: #1D8CC3;*/
/*}*/

section.main {
/*  background: #244763;*/
}

/* Home */
/*section.main div.context {*/
/*  padding: 0 20px 0 20px;*/
/*}*/

/*section.main div.context h2 {*/
/*  color: #fff;*/
/*  font-weight: bold;*/
/*  font-size: 27px;*/
/*}*/

section.main form div.context label {
  color: #fff;
  font-size: 16px;
}

section.main form div.context label.link {
  float: left;
  width: 80px;
}

section.main form div.context label.disable {
  color: #999999;
}

section.main form div.context label.url {
  line-height: 32px;
}

section.main form div.context label#chbox {
  float: none;
  font-weight: none;
}

section.main form div.context div.check {
/*  display: none;*/
  float: right;
  margin-left: 20px;
  width: 135px;
  color: #ff8200;
  font-size: 12px;
  height: 20px;
  padding-top: 4px;
}

section.main form div.context div#url_check.check {
  padding-top: 8px;
  height: 28px;
}

section.main form div.context input {
  margin: 0 0 12px 0;
  padding: 1px 8px 1px 8px;
  vertical-align: middle;
  height: 22px;
  width: 500px;
}

section.main form div.context input.url {
  height: 30px;
  font-size: 22px;
  -moz-border-radius:    8px;
  -webkit-border-radius: 8px;
  border-radius:         8px;
}

section.main form div.context select {
  height: 26px;
  margin: 0 0 12px;
  padding: 1px 8px;
  width: 518px;
}

section.main form div.context :disabled {
  background-color: #999999;
  color: #e5e5e5;
}

section.main form div .round {
  -moz-border-radius:    6px;
  -webkit-border-radius: 6px;
  border-radius:         6px;
}

section.main form div.context textarea {
  margin: 0 0 12px 0;
  padding: 1px 8px 1px 8px;
  vertical-align: middle;
  width: 500px;
  height: 42px;
  font-size: 16px;
}

section.main form div.context input.check_box_right {
  margin: 0 5px 2px 85px;
  width: 15px;
}

section.main form div.context span#generator {
  margin: 0 0 12px 80px;
  color: #fff;
}

/* down part */
section.main form div.context a.result_url {
  margin: 0 0 12px 40px;
}

section.main form div.context input.button_save {
  padding: 3px 10px 3px 10px;
  margin: 0;
  width: 80px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #1D8CC3;
}

